{% ckan_extends %}

{# Move the language selector to the right to make room for the attribution #}
{% block footer_nav %}
  {{ super() }}
  {% snippet "snippets/language_selector.html" %}
{% endblock %}

{% block footer_links %}
  <li><a href="http://ckan.org/about">About</a></li>
  <li><a href="http://ckan.org/contact">Contact Us</a></li>
  <li><a href="http://ckan.org/services">Pricing</a></li>
  <li><a href="http://okfn.org/privacy">Privacy Policy</a></li>
  <li><a href="http://ckan.org">CKAN</a></li>
  <li><a href="http://okfn.org">OKFN</a></li>
{% endblock %}

{% block footer_lang %}{% endblock %}
